<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTERIDER</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="bg-stone-900 text-neutral-100 flex justify-center items-center h-screen">
       <div class="text-center">
            <!--make ejs element as an html block html to give it required styling-->
            <p><%= d %></p>
        
            <a class="bg-stone-600 inline-block rounded
            px-4 py-2 text-blue-300 mt-4" href="http://localhost:3000/">Home</a>
       </div>
    </div>
</body>
</html>